logs/
.vs/
/__pycache__
/data/logs/
/data/replays
/env
/build/main
/dist
/main.spec
/UI/__pycache__
/model_management/__pycache__
/utils/__pycache__
/game/__pycache__
/NN/__pycache__
/controller/__pycache__
