logs/
/.vs/gomoku-thesis-proj/FileContentIndex/34548396-863d-4091-a766-c1de1495ef0a.vsidx
/.vs/gomoku-thesis-proj/FileContentIndex/63c25dbd-fea8-40e0-bef1-f049ac8e400f.vsidx
/.vs/gomoku-thesis-proj/FileContentIndex/9ae793b8-9f8e-48d0-aa1e-0ee2f145fe6a.vsidx
/.vs/gomoku-thesis-proj/FileContentIndex/01d3bded-388b-487d-b33e-df977dc7b08f.vsidx
/.vs/gomoku-thesis-proj/FileContentIndex/4c5616d5-c38a-446a-a8ff-a8fd0477159d.vsidx
*.vsidx
/.vs/gomoku-thesis-proj/v17/.wsuo
/.vs/gomoku-thesis-proj/v17/DocumentLayout.backup.json
/.vs/gomoku-thesis-proj/v17/.wsuo
/.vs/gomoku-thesis-proj/v17/DocumentLayout.backup.json
/.vs/gomoku-thesis-proj/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/PythonSettings.json
/.vs/gomoku-thesis-proj/v17/Preview/Browse.VC.db
*.db-shm
/.vs/gomoku-thesis-proj/v17/Preview/Browse.VC.db-wal
/.vs/gomoku-thesis-proj/v17/Preview/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/PythonSettings.json
/.vs/gomoku-thesis-proj/v17/workspaceFileList.bin
/.vs/gomoku-thesis-proj/config/applicationhost.config
/.vs/gomoku-thesis-proj/v17/Preview/Solution.VC.db
.vs/
/__pycache__
/data/logs/
/data/replays
/env
